<todos-header></todos-header>
<div class="text-center text-danger font-weight-bold">
  <p *ngIf="checkEmptyTodoForm" [@inOutAnimation]>
    Please fill all the fields and a todo longer than 4 characters.
  </p>
</div>
<todos-add
  [@inOutAnimation]
  [showDone]="showCompleted"
  (toggleDone)="toggleComplete($event)"
  (isEmpty)="toggleCheckForm($event)"
></todos-add>
<todos-nav
  *ngIf="todos.length || searching"
  [@inOutAnimation]
  (isSearching)="toggleSearching($event)"
></todos-nav>
<div class="d-flex flex-column text-center">
  <h2 *ngIf="todos.length" class="mt-2">Just Do It</h2>
  <div *ngIf="!todos.length && !searching">
    <br />
    <h2>Nothing to do, use the form above to enter a new todo!</h2>
    <br />
  </div>
  <div *ngIf="!todos.length && searching">
    <br />
    <h2>Nothing Found, Try Searching again!</h2>
    <br />
  </div>
  <div class="divMainIncomplete">
    <todos-single
      *ngFor="let item of todos; let i = index"
      [index]="i"
      [todo]="item"
      (sendId)="getSignleTodo($event)"
    ></todos-single>
  </div>
  <h2
    *ngIf="showCompleted && !searching && todos.length"
    [@inOutAnimation]
    class="mt-2"
  >
    Done and Dusted
  </h2>
  <div *ngIf="showCompleted && !searching && !completed.length">
    <br />
    <h2>Nothing done yet!</h2>
    <br />
  </div>
  <div
    *ngIf="showCompleted && completed.length"
    class="divMainComplete"
    [@inOutAnimation]
  >
    <todos-single
      *ngFor="let item of completed; let i = index"
      [index]="i"
      [todo]="item"
    ></todos-single>
  </div>
</div>
