<todos-header></todos-header>
<todos-add
  [@inOutAnimation]
  [showDone]="showCompleted"
  (toggleDone)="toggleComplete($event)"
></todos-add>
<todos-nav *ngIf="todos.length" [@inOutAnimation]></todos-nav>
<div class="d-flex flex-column text-center">
  <h2 *ngIf="todos.length" class="mt-2">Just Do It</h2>
  <div *ngIf="!todos.length">
    <br />
    <h2>Nothing to do, use the form above to enter a new todo!</h2>
    <br />
  </div>
  <div class="divMainIncomplete">
    <todos-single
      *ngFor="let item of todos"
      [todo]="item"
      (sendId)="getSignleTodo($event)"
    ></todos-single>
  </div>
  <h2 *ngIf="showCompleted" [@inOutAnimation] class="mt-2">Done and Dusted</h2>
  <div *ngIf="showCompleted && !completed.length">
    <br />
    <h2>Nothing done yet!</h2>
    <br />
  </div>
  <div
    *ngIf="showCompleted && completed.length"
    class="divMainComplete"
    [@inOutAnimation]
  >
    <todos-single *ngFor="let item of completed" [todo]="item"></todos-single>
  </div>
</div>
