@import "../../styles.scss";
@import "./select";
@import "./input";

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;

// $direction, $justify, $align, $bgcolor, $height, $textColor

.navDiv {
  @include divFlex(row, space-around, center, #f9f7d9, 10vh, rgb(80, 39, 39));
  margin: 1em 0 0;
}

@include media("<=phone") {
  .navDiv {
    @include divFlex(
      column,
      center,
      space-around,
      #f9f7d9,
      10vh,
      rgb(18, 63, 18)
    );
    margin: 1em 0 0;
  }
}
