$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;

.addBtnAdd {
  @include btnStyle(#00b7c2, 20%, 50px);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 2em;
}

.addBtnDone {
  @include btnStyle(#ffa36c, 20%, 50px);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 2em;
}

@include media("<tablet") {
  .addBtnAdd {
    @include btnStyle(#00b7c2, 20%, 50px);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.5em;
  }
  .addBtnDone {
    @include btnStyle(#e0854f, 20%, 50px);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.5em;
  }
}

@include media("<=phone") {
  .addBtnAdd {
    @include btnStyle(#00b7c2, 90%, 50px);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.5em;
  }
  .addBtnDone {
    @include btnStyle(#ffa36c, 90%, 50px);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.5em;
  }
}
