<div class="addDivMain">
  <div class="addDivForm">
    <input
      class="input-css"
      type="text"
      name="name"
      [(ngModel)]="todo.name"
      placeholder="Todo or Not Todo.."
    />
    <input
      class="input-css"
      type="date"
      name="date"
      [(ngModel)]="todo.dueDate"
    />
    <select class="select-css" name="type" [(ngModel)]="todo.type">
      <option value="undefined" disabled selected>Todo Type</option>
      <option value="home">Home</option>
      <option value="Education">Education</option>
      <option value="Sport">Sport</option>
    </select>
  </div>
  <div class="addDivBtn">
    <button class="addBtnAdd shadow-sm" (click)="onClickAdd()">
      Add Todo
    </button>
    <button class="addBtnDone shadow-sm">Im Done</button>
  </div>
</div>
