<mat-accordion *ngIf="!showEdit">
  <mat-expansion-panel>
    <mat-expansion-panel-header [ngStyle]="calcStyle()">
      <p [ngStyle]="{ fontSize: '2em', fontWeith: 'bold', text: 'center' }">
        {{ todo.name | youTypeIFix }}
      </p>
    </mat-expansion-panel-header>
    <div class="row justify-content-around">
      <h4 class="font-italic font-weight-bolder">
        Date Created: {{ todo.created | date }}
      </h4>
      <h4 class="font-italic font-weight-bolder">
        Due Date: {{ todo.dueDate | date }}
      </h4>
      <h4 class="font-italic font-weight-bolder">
        {{ formatDaysLeft() }}
      </h4>
      <h4 class="font-italic font-weight-bolder">Type: {{ todo.type }}</h4>
    </div>
    <div class="d-flex justify-content-around">
      <button mat-raised-button color="warn" (click)="onClickDelete(todo._id)">
        Delete
      </button>
      <button mat-raised-button color="accent" (click)="onClickEdit()">
        Edit
      </button>
      <button mat-raised-button color="primary" (click)="onClickDone()">
        {{ markAs }}
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<todos-edit
  *ngIf="showEdit"
  (hideEdit)="toggleShowEdit($event)"
  [todo]="todo"
></todos-edit>
